.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/*override bootstrap css margin*/
.navbar {
	margin-bottom: 0px;
}

.MainBodyWrapperDiv {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* create background gutter visual */
.MainBodyContainerDiv {
	margin: auto;
	height: 100%;
	background-color: #9BB7D4;
}

.MainContainer {
	//background-color: transparent;
	min-width: 300px;
	max-width: 1000px;
}

/* align button with fields */
.BtnMargin {
	margin-top: 25px;
}

/* un-bold default text for aesthetics */
.SubtleLabel {
	font-weight: 400;
}