//a few flexboxes
//would be better to have partial files and combine them
//Sass is cool

.entryfields-container {
	margin-top: 5px;
}

.App {
	height: 100%;
}

.MainContainer {
	height: 100%;
	background-color: transparent;
	margin-top: 12px;
}

.btnMargin {
	margin-top: 25px;
}

.maxWidth800 {
	max-width: 800px;
}

.subtleLabel {
	font-weight: 400;
}

.SplashHeader {
	margin: 0 0 0 40px;
}
.SplashSubHeader {
	margin: 0 0 0 40px;
	min-height: 50px;
}